<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <table class ="theTable">
  <tr>
    <th>Time</th>
    <th>Input</th>
    <th>Output</th>
    
  </tr>
  <tr>
    <th>Unix</th>
    <td class ="u_time"> U</td>
    <td>Holder</td>
    
  </tr>
  <tr>
    <th>Natural</th>
    <td id ="n_time">n</td>
    <td>Holder</td>
  </tr>
</table>
      </div>
   </body>

</html>
