<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
        <p>Enter a natural or unix date format to view the conversion.</p>
        <h3> Example:</h3>
        <p>https://snow-pail.glitch.me/December%2015,%202015</p>
        <p>https://snow-pail.glitch.me/1450137600</p>
        <h3>Output</h3>
        <p><font color= "green">{ "unix": 1450137600, "natural": "December 15, 2015" }</font></p>
        
      </div>
   </body>

</html>
